/* import fontawesome icons */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css";

* {
  box-sizing: border-box;
}


img {
  max-width: 95%;
  max-height: 95%;
}

header.hero.is-black {
  background-color: black;
}

/* creates a 3 by 3 square grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  justify-content: center;
  height: 60vmin;
  width: 60vmin;
}

.square-01,
.square-21 {
  border: solid #DEDEDF;
  border-width: 0px 3px;
}

.square-10,
.square-12 {
  border: solid #DEDEDF;
  border-width: 3px 0px;
}

.square-11 {
  border: 3px solid #DEDEDF;
}

/* keeps divs inside the grid-container a square */
.grid-container div {
  display: flex;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}

.grid-container div:hover,
footer:hover {
  background-color: #090909;
}

.player-x {
  background-color: #FE605D;
}

.player-o {
  background-color: #3DC4F3;
}

.min-height-1 {
  min-height: 2rem;
}

.button-min-width {
  min-width: 27%;
}

/* create animation for win-effect class */
@keyframes win-effect {
  0% {
    filter: hue-rotate(60deg);
  }
  25% {
    filter: hue-rotate(120deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  75% {
    filter: hue-rotate(240deg);
  }
  100% {
    filter: hue-rotate(300deg);
  }
}

/* class to add effect to winnin squares*/
.is-win {
  animation: win-effect 2000ms ease-in-out 2;
}

@media (max-width: 1024px) {
  .grid-container {
    height: 100vmin;
    width: 100vmin;  
  }

  .mobile-LR-nopadding {
    padding: 3rem 0px;
  }
}