@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


* {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* remove vertical scroll bar */
  overflow-y: hidden!important;
  background-color: #000000!important;
}

div#root {
  min-height: 100vh;
  background-color: #000000;
}